.filter {
  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    &_empty{
      color: lightgray;
    }
  }
  &__body{
    display: flex;
    gap: 5px;
  }
  &__amount {
    display: flex;
    gap: 5px;
  }
  &__item {
    // &_active{
    //   font-weight: bold;
    // }
    &_empty{
      color: lightgray;
    }
  }
}