.footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  // background-color: $bgColor;
  // color: $mainTextColor;
  font-size: 1.6rem;
  width: 100%;
  padding: 10px 30px;
  &__authors{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  &__github-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    // color: $mainTextColor;
    transition: all .3s ease-in;
    &:hover{
      color: rgb(255, 230, 0);
      // color: $yellowColor;
    }
  }
  &__rs-logo{
    display: block;
    width: 85px;
    height: 45px;
    background-image: url('/src/assets/rs_school_js.svg');
    background-repeat: no-repeat;
    transition: all .3s ease-in;
    &:hover{
      transform: scale(1.1);
    }
  }
}