.cart{
  &__summary{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 28%;
    height: fit-content;
    border-radius: 10px;
  }
  &__title{
   width: 100%;
   text-align: center;
   background-color: black;
   color: #ffe600;
   border-radius: 10px;
   padding: 10px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
  }
  &__products,
  &__price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
  }
  &__total{
    font-size: 2.2rem;
  }
  &__text{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__promo {
    align-self: center;
  }
  &__promo-input{
    outline: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: #ffe600;
    font-size: 1.8rem;
    text-align: center;
  }
  &__btn {
    align-self: center;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffe600;
    text-transform: uppercase;
    color: black;
    font-size: 2rem;
    cursor: pointer;
  }
}