*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
html{
  font-size: 10px;
}
.main {
  flex: 1 1 100%;
}

.container {
  padding: 0 50px
}
