*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
html{
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}
.main {
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
  padding: 30px;
  user-select: none;
}


