@import './variables';
.footer {
  background-color: $bgColor;
  color: $mainTextColor;
  font-size: 1.6rem;
  &__container {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &__authors{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  &__github-link {
    display: inline-block;
    text-decoration: none;
    color: $mainTextColor;
    transition: all .3s ease-in;
    &:hover{
      color: $yellowColor;
    }
  }
  &__rs-logo{
    display: block;
    width: 85px;
    height: 45px;
    background-image: url('../assets/rs_school_js.svg');
    background-repeat: no-repeat;
    transition: all .3s ease-in;
    &:hover{
      transform: scale(1.1);
    }
  }
}