@import './variables';
.header {
  padding: 10px 0;
  background-color: $bgColor;
  color: $mainTextColor;
  &__container {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-style: italic;
    font-size: 4rem;
    cursor: pointer;
  }
  &__logo-link{
    text-decoration: none;
    color: $mainTextColor;
  }
  &__total-price {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 5px;
  }
  &__text{
    text-transform: uppercase;
  }
  &__cart{
    position: relative;
    width: 55px;
    height: 55px;
    background-image: url('../assets/cart-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  &__cart-amount {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    color: $bgColor;
    transform: translate(-50%,0);
  }
  
  .yellow {
    color: $yellowColor;
  }
}