@import './variables';

.product {
  &__block {
    width: 70%;
    border: 1px solid $bgColor;
    border-radius: 10px;
  }
  &__options{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.6rem;
  }
}