@import './variables';

.product {
  &__card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20%;
    border: 1px solid black;
    font-size: 1.6rem;
    padding: 10px;
  }
  &__name {
    text-align: center;
    text-transform: uppercase;
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__btns {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
}

// .btn {
//   padding: 10px;
//   border: 1px solid $yellowColor;
//   border-radius: 10px;
//   outline: none;
//   background-color: $bgColor;
//   color: $yellowColor;
//   cursor: pointer;
//   transition: all .3s ease-in;
//   &:hover {
//     background-color: $yellowColor;
//     color: $bgColor;
//   }
// }